* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth
}
.titles {
  color: var(--black, #111);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}
.titles-italic {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
.section-names {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.texts {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.small-texts {
  font-size: 0.875rem;
  letter-spacing: -0.00875rem;
}
.btn-style {
  text-align: center;
  border-radius: 12.5rem;
  padding: 0.75rem 1.5rem;
}
.btn-hover:hover {
  opacity: 0.8;
}