* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #111;
  --beige: #DCC1AB;
  --grey: #F5F0EC;
  --green: #1B5B31;

}

.section-container {
  max-width: 1320px;
  margin: auto;
}
.grid-text-col {
  padding: 1rem 2rem;
}

.hero {
  background-color: var(--beige);
  position: relative;
}

.hero-img {
  background-image: url('../img/hero-img.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50% + 15px);
}
.hero-buttons {
  padding: 0.75rem 1.25rem;
  border-radius: 12.5rem;;
}
.contact-btn {
  background-color: var(--green);
  color: var(--grey, #F5F0EC);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
}
.realisation-btn {
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: .9rem;
  font-style: normal;
  font-weight: 400;
}
.main-title {
  font-size: 2.5rem;
  color: var(--black, #111);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}
.hero-text {
  color: var(--black, #111);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.carousel .carousel-control-prev {
  width: 72px;
  position: absolute;
  bottom: 0;
  left: calc(100% - 72px);
  opacity: 1;
}
.carousel .carousel-control-next {
  width: max-content;
  opacity: 1;
}
.carousel .carousel-control-prev-icon {
  background-color: var(--grey);
  position: absolute;
  bottom: 0;
  right: 72px;
}
.carousel .carousel-control-next-icon {
  background-color: var(--grey);
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 72px;
  width: 72px;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: #000;
}

.oferta {
  background-color: var(--grey);
  padding: 2.5rem 0 3.5rem;
}
.section-name {
  color: var(--green, #1B5B31);
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.05rem;
}
.section-title {
  color: var(--black, #111);
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; 
  letter-spacing: -0.1rem;
}
.oferta-text-container span {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
.oferta-text-container {
  max-width: 65rem;
  margin: 0 auto 3rem;
}
.oferta-text-container p {
  max-width: 44rem;
}
.card {
  padding: 1.5rem 1rem;
  border-radius: 1.75rem;
  background-color: var(--white);
  border: none;
  max-width: 24rem;
  margin: auto;
}
.card .icon {
  width: 2.5rem;
  margin-bottom: 2rem;
}
.icon-visuals {
  padding: 8px 0;
}
.card .card-title {
  color: var(--black, #111);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; 
  letter-spacing: -0.0875rem;
  margin-bottom: 0.75rem;
}
.card .card-text {
  color: var(--black, #111);
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.00875rem;
  margin-bottom: 4rem;
}
.card .card-link {
  color: var(--green, #1B5B31);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--green);
}

.firmie {
  background-color: var(--green);
  color: var(--grey);
}

.firmie-img {
  background-image: url('../img/o-firmie.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.firmie-section-name {
  font-family: 'Inter', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.0075rem;
  margin-bottom: 1rem;
}
.firmie-section-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
  letter-spacing: -0.09rem;
  max-width: 15rem;
  margin-bottom: 2.5rem;
}
.firmie-text-container span {
  font-family: 'Inter', sans-serif;
  font-style: italic;
}
.firmie-btn {
  border: 1px solid var(--grey);
  border-radius: 12.5rem;
  color: var(--grey);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding: 0.75rem 1.25rem;
}

.firmie-text {
  margin-bottom: 3rem;
}

.firmie-text-container {
  padding: 1rem 2rem;
}
.firmie-content {
  max-width: 30rem;
}
.test {
  border: 3px solid #ff0;
}

@media screen and (min-width: 576px) {
  .grid-text-col {
    padding: 7rem 5rem;
  }
  .contact-btn, .realisation-btn {
    font-size: 1rem;
  }

  .oferta {
    padding: 4.5rem 0 6rem;
  }
  .section-title {
    font-size: 2.75rem;
  }
  .oferta-text-container {
    margin: 0 auto 6rem;
  }
  .card {
    padding: 2rem 1.5rem;
  }

  .firmie-text-container {
    padding: 7rem 5rem;
  }
  .firmie-section-title {
    font-size: 2.75rem;
  }
  .firmie-text {
    margin-bottom: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .grid-text-col {
    padding: 5rem 3rem;
  }

  .oferta {
    padding: 7.5rem 0 10rem;
  }
  .section-title {
    font-size: 3rem;
  }

  .firmie {
    padding-right: 2rem;
  }
  .firmie-text-container {
    padding: 5rem 0 5rem 3rem;
  }
  .firmie-section-title {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .grid-text-col {
    padding: 7rem 4.5rem;
  }
  .main-title {
    font-size: 2.7rem;
  }

  .firmie-text-container {
    padding: 7rem 0 7rem 4.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .grid-text-col {
    padding: 8rem 6rem;
  }
  .main-title {
    font-size: 3.5rem;
  }

  .firmie-text-container {
    padding: 8rem 0 8rem 6rem;
  }
}
@media screen and (min-width: 1400px) {
  .card {
    padding: 3rem 2.5rem;
  }
}